# Enable native bridge for target executables
on early-init
    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc

on property:ro.vendor.enable.native.bridge.exec64=1
    copy /system/etc/houdini/binfmt_misc/arm64_exe  /proc/sys/fs/binfmt_misc/register
    copy /system/etc/houdini/binfmt_misc/arm64_dyn  /proc/sys/fs/binfmt_misc/register
    mount none /system/lib64/houdini/arm64  /system/lib64/arm64 bind rec
